:root{

    --fundo: #B22222;
    --cartfrente: #FF7F50;
    --cartverso: #CD5C5C;
    --destaque: #DC143C;
    --preto: black;
    --branco: white;
}
body{
    background-color: var(--fundo);

}


header{

background-color: var(--preto);
padding: 40px;
display: flex;
justify-content: space-around;

}

header a{

    color: var(--branco);
}



footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
display: grid;
padding: 40px;
gap: 4rem;
}

.conteudocartao{
padding: 40px;
background-color: var(--cartfrente);
color: var(--branco);
box-shadow: 8px 8px 25px var(--preto)
}

.respostacartao{
padding: 40px;
background-color: var(--cartverso);
}

.conteudocartao:hover{
transform: scale(1.04);
}





