:root{

    --fundo: #B22222;
    --cartfrente: #FF7F50;
    --cartverso: #CD5C5C;
    --destaque: #DC143C;
    --preto: black;
    --branco: white;
}
body{
    background-color: var(--fundo);

}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    justify-content: space-between;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

.cartao{
background-color: var(--cartfrente);
text-align: center;
height: 100%;
color: var(--branco);
}

.cartao h3{
color: var(--destaque);
border: 1px solid var(--destaque);
text-align: left;
position: absolute;
padding: 0.5rem;
margin: 0.5;
border-radius: 0.6;
font-size: 1vw;
}

.cartao p{
margin-top: 4rem;
font-size: 1.4vw;
padding: 2rem;
}

.perguntacartao p{

    color: var(--destaque);
    font-weight: 700;
}

.cartao:hover .cartao{

transform: rotateY('180')
}



